<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Charon - Powered By Caribou</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Source Sans Pro:300,400,700">
    <link href="/css/charon.css" type="text/css" rel="stylesheet">
    <link href="/css/app.css" type="text/css" rel="stylesheet">
    <link rel="shortcut icon" href="/img/favicon.png">
  </head>

  <body>
    <header>
      <img src="/img/caribou-logo.png" width="158" height="139">
      <h2>Build scalable efficient websites with the tools you need and the flexibility you want.</h2>
    </header>

    {{%body}}{{/body}}

    <footer>
      <a href="http://www.weareinstrument.com" target="_blank"><img src="/img/teepee_golden.svg"></a>
    </footer>

    <!-- <script type="text/javascript" src="/js/app/charon.js"></script> -->
  </body>
</html>
